<% provide(:title, 'PunchList') %>
<div class="container">
  <div>
    <div class="list-top">
      <div class="back-btn">
      </div>
      <%= render 'displaydates/select_form' %>
    </div>
    <div class="list-bottom">
      <%= render 'shared/punch_list' %>
    </div>
  </div>
</div