<div class="current-date">
  <%= @displaydate.list_date.strftime("%Y年%m月%d日") %>
</div>
<div class="date-choice">
  <%= form_for @displaydate, url: select_form_path do |f| %>
    <%= f.date_select :list_date %>
    <%= f.submit "移動", class: "btn btn-primary", id: "date-jump" %>
  <% end %>
</div>